# Ignore Python environment
env/

# Ignore build artifacts
build/
dist/
artifacts/
mlruns/
logs/

gemstone_price_prediction.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore configuration files
*.pyc
__pycache__/
*.pyo

# Ignore IDE specific files (if applicable)
.vscode/
.idea/
*.swp

# Ignore other unnecessary files
*.log

