# # Core libraries
# pandas
# scikit-learn
# numpy
# seaborn==0.13.2
# flask
# mlflow==2.2.2

# # Versioned tools
# dvc

# # Development tools
# pytest==7.1.3
# tox==3.25.1
# black==22.8.0
# flake8==5.0.4
# mypy==0.971

# # System dependencies (required for building some packages like pyarrow)
# # Add these in a system package manager (e.g., apt, brew) before installing via pip
# cmake
# # libcurl4-openssl-dev
# # libssl-dev
# # libz-dev
# # libboost-dev
# # libbz2-dev
# # python3-dev

# # Editable install for your local project (uncomment to use)
# -e .


# Core libraries
Pillow>=11.1.0
pandas
scikit-learn
numpy
seaborn==0.13.2
flask
mlflow==2.2.2

# Versioned tools
dvc
ipykernel
xgboost

# Development tools
pytest==7.1.3
tox==3.25.1
black==22.8.0
flake8==5.0.4
mypy==0.971

# -e .
